{% extends "base.html" %}
{% block content %}
<br>
{% if user.is_doctor or user.is_receptionist %}
<a href="{% url 'update_appointment' appointment.id %}"><button class="btn btn-primary" style="margin: 20px 0">Update appointment</button></a>
<a href="{% url 'delete_appointment' appointment.id %}"><button class="btn btn-danger" style="margin: 20px 0">Delete appointment</button></a>
<p><strong>Patient:</strong> <a href="{% url 'patient' appointment.patient.id %}">{{ appointment.patient.profile.name }} {{ appointment.patient.profile.surname }}</a></p>
<p><strong>Doctor:</strong> <a href="{% url 'doctor' appointment.doctor.id %}">{{ appointment.doctor.profile.name }} {{ appointment.doctor.profile.surname }}</a></p>
{%  endif %}
{% if user.is_patient %}
<p><strong>Doctor:</strong>{{ appointment.doctor.profile.name }} {{ appointment.doctor.profile.surname }}</p>
{%  endif %}
<p><strong>Date:</strong> {{ appointment.date }}</p>
<p><strong>Time:</strong> {{ appointment.time }}</p>
<p><strong>Status:</strong> {{ appointment.status }}</p>
<p><strong>Complaint:</strong> {{ appointment.complaint }}</p>
{% endblock %}