{% extends "base.html" %}
{% load static %}
{% load bootstrap3 %}

{% block content %}
<div class="col-md-12">
    <div>
        <div>
            <h3>Appointments:</h3>
            <br>
                <div class="row">
                    <div class="col">
                        <div class="card card-body">

                            <form method="get">
                                {{my_filter.form}}

                            <button class="btn btn-primary" type="submit">Search</button>
                          </form>

                        </div>
                    </div>

                </div>
            <br>
            {% if appointments_list %}
            <table class="table table-hover">
                <thead>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Doctor</th>
                    <th>Patient</th>
                    <th>Status</th>
                    <th>Detail</th>
                    <th>Update</th>
                    <th>Delete</th>
                </thead>
                {% for app in appointments_list %}
                <tr class="{% if app.status == 'C' %}table-success{% elif app.is_overdue %}table-danger{% elif app.status == 'P'%}table-warning{% else %}table-light{% endif %}">
                    <td>{{ app.date }}</td>
                    <td>{{ app.time }}</td>
                    <td><a href="{% url 'doctor' app.doctor.id %}">{{ app.doctor.profile.name }} {{ app.doctor.profile.surname }}</a></td>
                    <td><a href="{% url 'patient' app.patient.id %}">{{ app.patient.profile.name }} {{ app.patient.profile.surname }}</a></td>
                    <td>{{ app.status }}</td>
                    <td>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'appointment' app.id %}">Details</a>
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'update_appointment' app.id %}">Update</a>
                    </td>
                    <td>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'delete_appointment' app.id %}">Delete</a>
                    </td>

                </tr>
                {% endfor %}
            {% else %}
              <p>There is currently no appointments.</p>
            {% endif %}
            </table>
        </div>
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}