<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        {% block title %}
            <title>Hospital Management System</title>
        {% endblock %}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </head>
    <body>
        <header>
            <!--- Navbar --->
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                  <a class="navbar-brand text-white" href="{% url 'home' %}"><i class="fas fa-hospital-symbol fa-spin fa-lg mr-2"></i>Hospital Management System</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nvbCollapse" aria-controls="nvbCollapse">
                    <span class="navbar-toggler-icon">
                        <i class="fas fa-bars fa-lg" style="color:#fff"></i>
                    </span>
                  </button>
                  <div class="collapse navbar-collapse" id="nvbCollapse">
                    <ul class="navbar-nav ml-auto">
                        {% if user.is_authenticated %}
                            <!-- doctor's dashboard -->
                            {% if user.is_doctor %}
                                <li class="nav-item active pl-1">
                                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                                </li>
                                <li class="nav-item pl-1">
                                    <a class="nav-link" href="{% url 'my_appointments' %}">My appointments</a>
                                </li>
                                <li class="nav-item pl-1">
                                    <a class="nav-link" href="{% url 'my_patients' %}">My patients</a>
                                </li>
                                <li class="nav-item pl-1">
                                    <a class="nav-link" href="{% url 'drugs' %}">Drugs</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'profile' %}">
                                        <svg class="bi bi-person" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M13 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM3.022 13h9.956a.274.274 0 00.014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 00.022.004zm9.974.056v-.002.002zM8 7a2 2 0 100-4 2 2 0 000 4zm3-2a3 3 0 11-6 0 3 3 0 016 0z" clip-rule="evenodd"/>
                                        </svg>
                                        {{ user.profile.name }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'logout' %}" class="btn btn-simple">
                                        <button class="btn btn-warning">Log Out</button>
                                    </a>
                                </li>
                            <!--# doctor's dashboard #-->
                            {% endif %}
                            <!-- patient's dashboard -->
                            {% if user.is_patient %}
                                <li class="nav-item active pl-1">
                                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                                </li>
                                <li class="nav-item pl-1">
                                    <a class="nav-link" href="patient_appointments">My appointments</a>
                                </li>
                                <li class="nav-item pl-1">
                                    <a class="nav-link" href="my_prescriptions">My prescriptions</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'profile' %}">
                                        <svg class="bi bi-person" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M13 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM3.022 13h9.956a.274.274 0 00.014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 00.022.004zm9.974.056v-.002.002zM8 7a2 2 0 100-4 2 2 0 000 4zm3-2a3 3 0 11-6 0 3 3 0 016 0z" clip-rule="evenodd"/>
                                        </svg>
                                        {{ user.profile.name }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'logout' %}" class="btn btn-simple">
                                        <button class="btn btn-warning">Log Out</button>
                                    </a>
                                </li>
                            <!--# patient's dashboard #-->
                            {% endif %}
                            <!-- receptionist's dashboard -->
                            {% if user.is_receptionist %}
                                <li class="nav-item active pl-1">
                                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                                </li>
                                <li class="nav-item pl-1">
                                    <a class="nav-link" href="{% url 'appointments' %}">Appointments</a>
                                </li>
                                <li class="nav-item pl-1">
                                    <a class="nav-link" href="{% url 'doctors' %}">Doctors</a>
                                </li>
                                <li class="nav-item pl-1">
                                    <a class="nav-link" href="{% url 'patients' %}">Patients</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'profile' %}">
                                        <svg class="bi bi-person" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M13 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM3.022 13h9.956a.274.274 0 00.014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 00.022.004zm9.974.056v-.002.002zM8 7a2 2 0 100-4 2 2 0 000 4zm3-2a3 3 0 11-6 0 3 3 0 016 0z" clip-rule="evenodd"/>
                                        </svg>
                                        {{ user.profile.name }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'logout' %}" class="btn btn-simple">
                                        <button class="btn btn-warning">Log Out</button>
                                    </a>
                                </li>
                            <!--# receptionist's dashboard #-->
                            {% endif %}
                        {% else %}
                            <!-- unauthenticated user dashboard -->
                            <li class="nav-item active pl-1">
                                <a class="nav-link" href="{% url 'home' %}">Home</a>
                            </li>
                                <a href="{% url 'login' %}" class="btn btn-simple">
                                    <button class="btn btn-success">Log In</button>
                                </a>
                            </li>
                            <!--# unauthenticated user dashboard #-->
                        {% endif %}
                    </ul>
                  </div>
                </div>
            </nav>
            <!--# Navbar #-->
        </header>

        <div class="container">
            {% block content %}
            {% endblock %}
        </div>

        <!--- Footer --->
        <footer>
            <div class="jumbotron jumbotron-fluid bg-secondary p-4 mt-5 mb-0">
              <div class="container">
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 foot">
                    <div class="card bg-secondary border-0">
                      <div class="card-body text-light text-center">
                        <h5 class="card-title text-white display-4" style="font-size:30px">Address</h5>
                      <p class="d-inline lead">Gedimino pr. 67<br>
                      <a href="#" class="text-light d-block lead">Vilnius, Lietuva</a>
                      </p>

                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 foot">
                    <div class="card bg-secondary border-0">
                      <div class="card-body text-center">
                        <h5 class="card-title text-white display-4" style="font-size:30px">Contacts</h5>
                        <a class="text-light d-block lead" style="margin-left: -20px" href="#"><i class="fa fa-phone mr-2"></i>862645889</a>
                        <a class="text-light d-block lead" href="#"><i class="fa fa-envelope mr-2"></i>test@gmail.com</a>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <div class="card bg-secondary border-0">
                      <div class="card-body text-center">
                      <h5 class="card-title text-white display-4" style="font-size:30px">Social Media</h5>

                          <a class="text-light" href="#"><i class="fab fa-facebook-square fa-fw fa-2x"></i></a>

                          <a class="text-light" href="#"><i class="fab fa-twitter-square fa-fw fa-2x"></i></a>

                          <a class="text-light" href="#"><i class="fab fa-instagram fa-fw fa-2x"></i></a>

                          <a class="text-light" href="#"><i class="fab fa-linkedin fa-fw fa-2x"></i></a>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </footer>
        <!--# Footer #-->

       </body>

</html>