{% extends "base.html" %}
{% load static %}
{% load bootstrap3 %}

{% block content %}
<div class="col-md-12">
    <a href="{% url 'add_doctor' %}"><button class="btn btn-primary" style="margin: 20px 0">Add Doctor</button></a>
    <div>
        <div>
            <h3>Doctors:</h3>
            {% if doctors_list %}
            <table class="table table-striped">
                <thead>
                    <th>Email</th>
                    <th>Update</th>
                    <th>Delete</th>
                </thead>
                {% for doc in doctors_list %}
                <tr>
                    <td>{{ doc.email }}</td>
                    <td>
                        <a class="btn btn-warning btn-sm mt-1 mb-1" href="{% url 'update_doctor' doc.id %}">Update</a>
                    </td>
                    <td>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'delete_doctor' doc.id %}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
              <p>There are no doctors.</p>
            {% endif %}
            </table>
        </div>
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}