{% extends "base.html" %}
{% block content %}
<br>

<div class="row">
	<div class="col-md-6">
		<h5>LAST 5 COMPLETED APPOINTMENTS</h5>
		<div>
			<table class="table table-sm table-hover">
				<tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Patient</th>
                    <th>Update</th>
                    <th>Delete</th>
				</tr>
				{% for app in completed_appointments %}
                <tr class="{% if app.status == 'C' %}table-success{% elif app.is_overdue %}table-danger{% elif app.status == 'P'%}table-warning{% else %}table-light{% endif %}">
                   <td>{{ app.date }}</td>
                    <td>{{ app.time }}</td>
                    <td><a href="{% url 'patient' app.patient.id %}">{{ app.patient.profile.name }} {{ app.patient.profile.surname }}</a></td>
                    <td>
                        <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'update_appointment' app.id %}">Update</a>
                    </td>
                    <td>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'delete_appointment' app.id %}">Delete</a>
                    </td>

                </tr>
				{% endfor %}
			</table>
		</div>
    </div>
	<div class="col-md-6">
		<h5>TODAY UPCOMING APPOINTMENTS</h5>
		<div>
			<table class="table table-sm table-hover">
				<tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Patient</th>
                    <th>Update</th>
                    <th>Delete</th>
				</tr>
				{% for app in pending_appointments %}
                <tr class="{% if app.status == 'C' %}table-success{% elif app.is_overdue %}table-danger{% elif app.status == 'P'%}table-warning{% else %}table-light{% endif %}">
                   <td>{{ app.date }}</td>
                    <td>{{ app.time }}</td>
                    <td><a href="{% url 'patient' app.patient.id %}">{{ app.patient.profile.name }} {{ app.patient.profile.surname }}</a></td>
                    <td>
                        <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'update_appointment' app.id %}">Update</a>
                    </td>
                    <td>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'delete_appointment' app.id %}">Delete</a>
                    </td>

                </tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}
