{% extends "base.html" %}
{% load static %}
{% load bootstrap3 %}
{% block content %}
<div class="col-md-12">
   <a href="{% url 'add_doctor' %}"><button class="btn btn-success" style="margin: 20px 0">Add Doctor</button></a>
   <div>
      <div>
         <h3>Doctors:</h3>
         <br>
         <div class="row">
            <div class="col">
               <div class="card card-body">
                  <form method="get">
                     {{ my_filter.form }}
                     <button class="btn btn-primary" type="submit">Search</button>
                  </form>
               </div>
            </div>
         </div>
         <br>
         {% if doctors_list %}
         <table class="table table-striped">
            <thead>
               <th>Name</th>
               <th>Surname</th>
               <th>Email</th>
               <th>Update</th>
               <th>Delete</th>
            </thead>
            {% for doc in doctors_list %}
            <tr>
               <td>{{ doc.profile.name }}</td>
               <td>{{ doc.profile.surname }}</td>
               <td><a href="{% url 'doctor' doc.id %}">{{ doc.email }}</a></td>
               <td>
                  <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'update_doctor' doc.id %}">Update</a>
               </td>
               <td>
                  <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'delete_doctor' doc.id %}">Delete</a>
               </td>
            </tr>
            {% endfor %}
            {% else %}
            <p>There are no doctors.</p>
            {% endif %}
         </table>
      </div>
   </div>
</div>
{% endblock %}