{% extends "base.html" %}

{% block content %}
    <div style="margin-left:20px;margin-top:20px">
        <h4>Prescriptions:</h4>
        {% if object_list %}
            <table class="table table-hover">
                <thead>
                    <th>Date</th>
                    <th>Doctor</th>
                    <th>Expiration</th>
                    <th>Detail</th>
                </thead>
            {% for pre in object_list %}
                <tr class="{% if pre.is_overdue %}table-light{% else %}table-success{% endif %}">
                        <td>{{ pre.date }}</td>
                        <td><a href="{% url 'doctor' pre.doctor.id %}">{{ pre.doctor.profile.name }}{{ pre.doctor.profile.surname }}</a></td>
                        <td>{{ pre.expiration }}</td>
                        <td>
                            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'prescription' pre.id %}">Details</a>
                        </td>
                </tr>
            {% endfor %}
        {% else %}
            <p>No prescriptions.</p>
        {% endif %}
            </table>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>


{% endblock %}
