{% extends "base.html" %}
{% load static %}
{% load bootstrap3 %}

{% block content %}
<div class="col-md-12">
    <a href="{% url 'add_patient' %}"><button class="btn btn-primary" style="margin: 20px 0">Add Patient</button></a>
    <div>
        <div>
            <h3>Patients:</h3>
            {% if patients_list %}
            <table class="table table-striped">
                <thead>
                    <th>Email</th>
                    <th>Appointment</th>
                    <th>Update</th>
                    <th>Delete</th>
                </thead>
                {% for pat in patients_list %}
                <tr>
                    <td>{{ pat.email }}</td>
                    <td>
                        <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'create_appointment' pat.id %}">Create appointment</a>
                    </td>
                    <td>
                        <a class="btn btn-warning btn-sm mt-1 mb-1" href="{% url 'update_patient' pat.id %}">Update</a>
                    </td>
                    <td>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'delete_patient' pat.id %}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
              <p>There are no patients.</p>
            {% endif %}
            </table>
        </div>
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}