{% extends "base.html" %}

{% block content %}
    <a href="{% url 'update_prescription' prescription.id %}"><button class="btn btn-primary" style="margin: 20px 0">Update prescription</button></a>
<div>
    <p><strong>Patient:</strong> <a href="{% url 'patient' prescription.patient.id %}">{{ prescription.patient.profile.name }} {{ prescription.patient.profile.surname }}</a></p>
    <p><strong>Date:</strong> {{ prescription.date }}</p>
    <p><strong>Doctor:</strong><a href="{% url 'doctor' prescription.doctor.id %}">{{ prescription.doctor.profile.name }}{{ prescription.doctor.profile.surname }}</a></p>
    <p><strong>Symptoms:</strong> {{ prescription.symptoms }}</p>
    <p><strong>Diagnosis:</strong> {{ prescription.diagnosis }}</p>
</div>
<hr>
    <div style="margin-left:20px;margin-top:20px">
        <h4>Prescription lines:</h4>
        {% if object_list %}
            <table class="table table-hover">
                <thead>
                    <th>Drugs</th>
                    <th>quantity</th>
                    <th>Delete</th>
                </thead>
            {% for line in object_list %}
                <tr>
                    <td>{{ line.drugs }}</td>
                    <td>{{ line.qty }}</td>
                    <td>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'delete_prescription_line' line.id %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <p>No prescription lines.</p>
        {% endif %}
            </table>
        <div class="fieldWrapper">
            <h5>Add new line:</h5>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.prescription }}
                <table class="table table-hover">
                <thead>
                    <th>Drugs</th>
                    <th>quantity</th>
                    <th></th>
                </thead>
                    <tr>
                    <td>{{ form.drugs }}</td>
                    <td>{{ form.qty }}</td>
                    <td><input class="btn btn-success btn-sm mt-1 mb-1" type="submit" value="Add"></td>
                </tr>
                </table>
            </form>
        </div>
    </div>
{% endblock %}